<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Policy</title>
    <link rel="icon" type="image/x-icon" href="/static/icon/privacy-policy.png">
</head>
<body>
    <div class="policy">
        <div class="title">LAPTOP POLICY<br></div>
        <ul>
            <li>If the lost, stolen or damaged laptop and/or accessories are determined to be caused by negligence or intentional misuse, you will assume the full financial responsibility for repair costs or fair market value of assessed equipment.</li>
            <li>Don't keep the Laptop while you leave office. In-case if the Laptop lost, stolen or damaged inside the office, management is not responsible. </li>
            <li>IT Department is required to adjust or alter the laptop by the addition or deletion of any hardware.</li>
            <li>Keep the laptop in good working order and will notify the IT Department of any defect or malfunction during your use.</li>
            <li>The laptop should always be used under your supervision. You will not allow your laptop to be used by an unknown or unauthorized person. You assume the responsibility for the actions of others while using the laptop.</li>
            <li>It is your responsibility for the security and care of the laptop.</li>
            <li>You must return the laptop, including case, accessories and peripherals upon employment termination, transfer or retirement in accordance with the exit procedures.</li>
        </ul>
    </div>    
</body>
</html>