<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>OTP Verification</title>
    <link rel="icon" type="image/x-icon" href="/static/icon/emails.png">
</head>
<body>
    <form class="form" action="/retmain">
        <div class="verified">
            <img class="gif" src="/static/icon/user.gif" alt="OTP verified">
        </div>
        <button type="submit" class="button-confirm">OK</button>
    </form>
</body>
</html>