<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>OTP Verification</title>
    <link rel="icon" type="image/x-icon" href="/static/icon/otp.png">
</head>

<body>
    <form class="form-verify" action="/validate" method="post">
        <p>OTP has been sent to your email id, check and confirm.</p>
        <text>Enter OTP:</text> <input required type="number" name="otp" class="otp" maxlength="6">
        <input type="submit" value="Submit" class="button-confirm-verify">
    </form>
</body>
</html>